ul#vc     { font-size: 18px; color: #B6B79D; }
table#vc  { font-size: 18px; color: #B6B79D; }
table#vg  { font-size: 20px; font-weight:bold; color: #B6B79D; }
td#c      { font-size: 18px; color: #99856D; }
td#vc     { font-size: 20px; color: #B6B79D; }
td#vb     { font-size: 18px; font-weight:bold; color: #99856D; }    /* bigger font, bolded */
td#v      { font-size: 20px; }                                      /* bigger font */
a#vb      { font-size: 22px; color: #99856D; }
a#v       { font-size: 20px; }                                      /* bigger font */
p#cd      { color: #99856D; }                    /* colored, dark  */
p#vc      { font-size: 20px; color: #B6B79D;   } /* colored, light */
a:link    { color: #59B418; text-decoration:none; }
a:visited { color: #5E8443; text-decoration:none; }
a:hover   { color: #6CC032; text-decoration:none; }
a:active  { color: blue;    text-decoration:none; }


body {
    background-image: url("graphics/bg2b.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#announcement.p {
    text-align: center;
    color: #CFB284;
    font-size: 60px;
}
#hd.td {
    font-size: 40px;
}